{% extends 'base.html' %}

{% block content %}

{# search form #}
<form action="{% url 'search' %}" method="GET">
  <input name="q" value="{{request.GET.q}}" placeholder="search" />
  <button class='btn btn-primary' type="submit">submit</button>
</form>

{# If search initiated #}
{% if items %}
{% for item in items.all %}
{% with item.slug as slug %}
<p>{{item}} || <a href="{% url 'edit_listing' slug=slug %}">edit</a> || <a href="{% url 'delete_listing' slug=slug %}">delete</a></p>
{{item.short_description}}
<br />
{{item.full_description}}
<br />
{{item.category}}
{%endwith%}
{%endfor%}
{%endif%}



<h1>This is listing page</h1>

{% for listing in listings.all %}
{% with listing.slug as slug %}

<h2><a href="{% url 'listing' slug=slug %}">{{ listing.title }}</a> OR <a href="{% url 'edit_listing' slug=slug %}">edit</a> OR <a href="{% url 'delete_listing' slug=slug %}">delete</a></h2>
<h3>{{ listing.short_description }}</h3>
<h4>{{ listing.full_description }}</h4>
<h4>{{ listing.category }}</h4>
{% endwith %}

{% endfor %}

{% endblock %}
