{% load static %}

<!DOCTYPE html>

<html>
  <head>

    <title>MNY-YP</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet'>
  </head>
  <body>

    <div class="header">
      <p>HEADER</p>
      {% load socialaccount %}
      {% if user.is_authenticated %}

      <p>Welcome {{ user.username }}</p>
      <a href="{% url 'account_logout' %}">logout</a>

      {% else %}
      <a href="{% provider_login_url 'github' %}">login/signup with github</a>
      <br />
      <h4>OR</h4>
      <a href="{% provider_login_url 'twitter' %}">login/signup with twitter</a>
      <br />
      <h4>OR</h4>
      <a href="{% provider_login_url 'google' %}">login/signup with google</a>
      {% endif %}
      <p><a href="{% url 'create_listing' %}">create listing</a></p>
    </div>

    <div class="body">
      <br />
      <p>=========content starts here</p>
      {% block content %}

      {% endblock %}
      <p>=========content ends here</p>
      <br />
    </div>

    <div>
      <p>FOOTER</p>
      <p><a href="{% url 'about' %}">about</a></p>
      <p><a href="{% url 'contact' %}">contact</a></p>
      <p><a href="{% url 'privacy_policy' %}">privacy_policy</a></p>
    </div>
    <script src='{% static 'js/bootstrap.min.js' %}'></script>
  </body>
</html>
